{% extends 'index.html' %}

{% block conteudo %}

    <body style="background-color: #283e49 !important;display:flex; flex-direction: column">
        <img src="../static/images/logo.png" style="padding-top: 30px; margin: 0 auto; width: 120px; height: auto;">
        <form class="middle" style="color: white; padding-top: 10px;" onsubmit="login(this.childNodes)">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Digite seu email</small>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button class="btn btn-block" style="background-color: #FFDB0C !important;">Entrar</button>
            <button class="btn btn-block" style="color: white;" onclick="createAccountRedirect()">Criar Conta</button>
        </form>
    </body>

{% endblock conteudo %}